* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 50vh;
    
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 30vw;
}
.nav-button {
    text-align: center;
}
.calendar {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 5fr;  
    text-align: center;
    align-items: center;
}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    /* height: 40%; */
}
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
}

.inactive {
    opacity: 0.5;
}
